#green_rectangle {
    height: 400px;
    width: 800px;
    background-color: green;
    img {
        max-width: 100px;
        max-height: 100px;
    }
    
}

#ball {
    position: absolute;
    bottom: 300px;
    left: 400px;    
}